html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}


html, body {
    min-height: 100%;
    height: 100%;
}
label {
    display: inline-block;
    font-size: 18px;
    color: #C6C6C6;
    vertical-align: middle;
}

.main{
    background-color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    border: 20px;
    width: 1280px;
}
.content{
    background-color: #FFFFFF;
}
.inner-content{
    box-sizing: border-box;
    padding: 10px;

}
.body-content{
    border: solid 3px #C6C6C6;
    box-sizing: border-box;
    padding-bottom: 50px;
    overflow: hidden;
}
.wideheader{
    background-color: #245778;
    height: 30px;
    font-size: 24px;
    border-bottom: solid 3px #C6C6C6;
    text-align: center;
    color: #FFFFFF;

}
.wideheader a{
    color: white;
}
.form input{
    border: solid 3px #C6C6C6;
    width: 300px;
    height: 30px;
    font-size: 18px;
    text-indent: 10px;
    margin: 20px 0 auto;
}
textarea{
    border: solid 3px #C6C6C6;
    font-size: 15px;
    text-indent: 10px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    width: 575px;
    height: 270px;
    resize: none;
}
.autobiography{
    min-width: 100%;
    overflow: hidden;
}
.submit{
    margin: 20px auto 0;
    background-color: #245778;
    color: #c6c6c6;
}
.register{
    border: solid 3px #C6C6C6;
    width: 300px;
    height: 30px;
    font-size: 18px;
    text-indent: 10px;
    color: #C6C6C6;
    margin: 20px 0 auto;
    background-color: #245778
}
.receive{
    border: solid 3px #C6C6C6;
    width: 300px;
    height: 30px;
    font-size: 18px;
    text-indent: 10px;
    color: #C6C6C6;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #245778;
    float: left;
}
.label{
    font-size: 18px;
    text-indent: 10px;
    color: #000000;
    margin-top: 10px;
    width: 150px;
}
.skill-label{
    font-size: 18px;
    text-indent: 10px;
    color: #000000;
    text-align: left;
    margin-top: 10px;
}
.label-info{
    font-size: 18px;
    text-indent: 10px;
    color: #000000;
    margin-top: 10px;
    text-align: left;
}

.skills-directive .category{
    text-indent: 30px;
}

.skills-directive .category .element{
    text-indent: 50px;
}

.skills{
    border: solid 3px #C6C6C6;
    font-size: 15px;
    text-indent: 10px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    width: 475px;
    height: 200px;
    color: black;
}
.skills-directive{
    float: left;
    text-indent: 30px;
    margin-top: 10px;
    text-align: left;
}
.recognized{
    width: 46%;
    margin-right: 0;
    float: left;

}
.changeInfo{
    border: solid 3px #C6C6C6;
    width: 310px;
    height: 30px;
    font-size: 18px;
    text-indent: 10px;
    color: #C6C6C6;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #245778;
    float: right;
    margin-right: 30px;
}
.logout{
    border: solid 3px #C6C6C6;
    width: 310px;
    height: 30px;
    font-size: 18px;
    text-indent: 10px;
    color: #C6C6C6;
    margin-top: 10px;
    margin-right: 30px;
    background-color: #245778;
    float: right;
}

.select-list{
    margin-top: 20px;
    border: solid 3px #C6C6C6;
    width: 310px;
    height: 35px;
    font-size: 18px;
    text-indent: 10px;
    color: #000000;
}
.add-skill{
    float: left;
    width: 54%;
}
.label-select{
    display: inline-block;
    font-size: 18px;
    color: #000000;
    vertical-align: middle;
    text-align: left;
    margin-top: 10px;
    width: 100%;
}
.view-sv{
    border: solid 3px #C6C6C6;
    width: 310px;
    height: 70px;
    font-size: 18px;
    text-indent: 10px;
    color: #C6C6C6;
    margin-top: 130px;
    margin-left: 10px;
    background-color: #245778;
    float: left;
    margin-right: 30px;
}
.change-parent{
    border: solid 3px #C6C6C6;
    width: 140px;
    height: 35px;
    font-size: 18px;
    text-indent: 10px;
    color: #C6C6C6;
    margin-left: 17px;
    background-color: #245778;
    float: right;
    margin-right: 190px;
    margin-top: 20px;
}
.alert-position-installation {
    position: absolute;
    width: 100%;
}
.error{
    color:#780000;
    margin-top: 10px;
    font-size: 18px;
}
.cv{
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
}
.cv-credentials{
    text-align: left;
    margin-left: 100px;
    margin-top: 10px;
}
.cv-top{
    font-weight: bold;
}
