<div class="css-class" ng-controller="ChangeController" ng-init="init()">
    <div class="wideheader">
        Account Information
    </div>
    <form class="form">
        <div><input id="fn" type="text" required placeholder="Full name" ng-model="fullname" style="color: #000000;"></div>
        <div><input id="em" type="email" required placeholder="Email" ng-model="email" style="color: #000000;"></div>
        <div><input id="ph" type="tel" required placeholder="Phone" ng-model="phone" style="color: #000000;"></div>
        <div><input id="ad" type="text" required placeholder="Address" ng-model="address" style="color: #000000;"></div>
        <div><input placeholder="Date Of Birth" ui-date ng-required="true" required ng-model="dob"></div>
        <div><input type="submit" class="submit" value="Change" ng-click="changeInfo()"></div>
    </form>
    <div><button class="register" ng-click="back()">Back</button></div>
</div>