<div class="css-class" ng-controller="ForgotPasswordController">
    <div class="wideheader">
        Forgot Password Page
    </div>
    <form class="form">
        <div class="error" ng-show=" !isValidInstall || !isValidUser">{{modelDescription}}</div>
        <div><input id="un" type="text" required placeholder="Input Your Username" ng-model="username"></div>
        <div><input id="em" type="email" required placeholder="Input Your Email" ng-model="email"></div>
        <div><input id="pw" type="password" required placeholder="New Password" ng-model="password"></div>
        <div><input id="cpw" type="password" required placeholder="Repeat Password" ng-model="repeatpassword"></div>
        <div><input type="submit" class="submit" value="Change Password" ng-click="change()"></div>
    </form>
    <div><button class="register" ng-click="back()">Back</button></div>
</div>