<div class="css-class" ng-controller="HomeController">
    <div class="wideheader">
        User home page
    </div>
    <div class="autobiography">
        <div class="recognized">
            <div class="label-info">Enter your autobiography:</div>
            <textarea name="Biography" ng-model="autobiography" placeholder="Input your autobiography"></textarea>
        </div>
        <div>
            <button class="changeInfo" ng-click="changeInfo()">Change your info</button>
            <button class="logout" ng-click="logout()">Logout</button>
        </div>
    </div>
    <div class="autobiography">
        <button class="receive" ng-click="receiveProcessedBio()">Process autobiography</button>
    </div>

    <div ng-if="resume">

    </div>


    <div ng-show="resume">
        <div class="autobiography">
            <div class="label-info">Education:</div>
            <div class="skills-directive">
                <onto-display-categories categories="resume.education"></onto-display-categories>
            </div>
        </div>
        <div class="autobiography">
            <div class="recognized">
                <div class="label">Recognized skills:</div>
                <div class="skills-directive">
                    <onto-display-categories categories="resume.skills">
                    </onto-display-categories>
                </div>
            </div>
            <div class="add-skill">
                <div class="skill-label">Add skill:</div>
                <form class="form">
                    <div style="max-width: 310px; overflow: hidden;"><input id="un" type="text" required
                                                                            placeholder="Skill" ng-model="newSkill"
                                                                            style="margin-top: 20px;float: left;margin-right: 170px; color: #000000;">
                    </div>
                    <div ng-show="skillparent">
                        <label class="label-select"> Our program has found more than 1 possible parent.<br> Please,
                            choose one of them and click on Add button.<br>
                            If none of the existing categories fits or programm doesn`t find any possible parent,<br>
                            you can create new category, using the button Write Parent
                            <div>
                                <button class="change-parent" ng-show="parents.length >0" ng-click="changeParentView()">Write Parent</button>
                                <select ng-show="!inputparent && parents.length >0" class="select-list" data-ng-options="o for o in parents"
                                        data-ng-model="selectedOption"></select>

                                <div><input ng-show="inputparent" class="select-list" type="text"
                                            placeholder="Input your parent" ng-model="textParent"></div>
                            </div>
                        </label>
                    </div>
                    <div><input type="submit" class="submit" value="Add" ng-click="addSkill()"
                                style="float: left; width: 110px;"></div>

                </form>
            </div>
        </div>
        <div class="autobiography">
            <div class="label-info" ng-show="resume.possibleSkills">Possible skills:</div>
            <div class="label-info" ng-show="resume.possibleSkills">Program found nouns that can be possible skills. <br> </div>
            <div class="label-info" style="margin-top: 0;"  ng-show="resume.possibleSkills">Please, choose one of existing parent or write yours and click on the "Add button". <br> </div>
                <div class="label-info" style="margin-top: 0;"  ng-show="resume.possibleSkills">Or delete this noun clicking on the "Delete" button.</div>
            <div class="skills-directive">
                <onto-display-possible-skills categories="resume.possibleSkills"/>
            </div>
        </div>
        <div class="autobiography" ng-show="resume">
            <div class="recognized">
                <div class="label-info">Additional info:</div>
            <textarea class="skills" name="addinfo" ng-model="addinfo"
                      placeholder="Input your additional info"></textarea>
            </div>
            <div class="add-skill">
                <button class="view-sv" ng-click="viewCV()">View CV</button>
            </div>
        </div>
    </div>
</div>