<div class="css-class" ng-controller="LoginController">
    <div class="wideheader">
        Login or Register
    </div>
    <form class="form">
        <div class="error" ng-show=" !isValidInstall || !isValidUser">{{modelDescription}}</div>
        <div><input id="un" type="text" required placeholder="Username" ng-model="username"></div>
        <div><input id="pw" type="password" required placeholder="Password" ng-model="password"></div>
        <div><input type="submit" class="submit" value="Login" ng-click="login()"></div>
    </form>
    <div><button class="register" ng-click="register()">Register</button></div>
    <div><button class="register" ng-click="forgot()">Forgot Password?</button></div>
</div>