<div class="css-class" ng-controller="RegisterController">
    <div class="wideheader">
        Register Page
    </div>
    <form class="form">
        <div class="error" ng-show=" !isValidInstall">{{modelDescription}}</div>
        <div><input id="un" type="text" required placeholder="Username" ng-model="username"></div>
        <div><input id="fn" type="text" required placeholder="First Name" ng-model="firstname"></div>
        <div><input id="ln" type="text" required placeholder="Last Name" ng-model="lastname"></div>
        <div><input id="em" type="email" required placeholder="Email" ng-model="email"></div>
        <div><input placeholder="Date Of Birth" ui-date ng-required="true" required ng-model="dob"></div>
        <div><input id="pw" type="password" required placeholder="Password" ng-model="password"></div>
        <div><input id="cpw" type="password" required placeholder="Repeat Password" ng-model="repeatpassword"></div>
        <div><input id="ph" type="tel" required placeholder="Phone" ng-model="phone"></div>
        <div><input id="ad" type="text" required placeholder="Address" ng-model="address"></div>
        <div><input type="submit" class="submit" value="Register" ng-click="register()"></div>
    </form>
    <div><button class="register" ng-click="back()">Back</button></div>
</div>