<div class="css-class" ng-controller="SaveSVController">
    <div class="wideheader">
        View your CV
    </div>
    <div class="cv">
        <div class="cv-top">Resume</div>
        <div class="cv-credentials">Full name: {{fullname}}</div>
        <div class="cv-credentials">Email: {{email}}</div>
        <div class="cv-credentials">Address: {{address}}</div>
        <div class="cv-credentials">Phone: {{phone}}</div>
        <div class="cv-credentials">Date of Birth: {{dob | date:'MM/dd/yyyy'}}</div>
        <div class="autobiography" style="margin-left: 100px;"  ng-show="sv.education">
            <div class="label-info" style="text-indent: 0;">Education:</div>
            <div class="skills-directive" >
                <onto-display-categories categories="sv.education" hide-buttons="true"/>
            </div>
        </div>
        <div class="autobiography" style="margin-left: 100px;" ng-show="sv.skills">
            <div class="label-info" style="text-indent: 0;">Skills:</div>
            <div class="skills-directive" >
                <onto-display-categories categories="sv.skills" hide-buttons="true"/>
            </div>
        </div>
        <div class="autobiography" style="margin-left: 100px;"  ng-show="info">
            <div class="label-info" style="text-indent: 0;">Additional Info: {{sv.addinfo}}</div>
        </div>
    </div>
    <div>
        <button class="register" ng-click="downloadPdf()">Save as PDF</button>
    </div>
    <div>
        <button class="register" ng-click="back()">Back</button>
    </div>
</div>